*{
    margin: 0%;
    padding:0%;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#57d37a,#14a9c7);
    padding: 10px;
}
.todo-app{
    width: 90%;
    max-width: 700px;
    align-items: center;
    background:rgb(235, 230, 230);
    margin: 100px auto 20%;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app img{
    width: 30px; /* Resize image to fit its container */
    max-width: 40px; 
    margin-left:20px;/* Limit the max width to 300px */
    height: 30; /* Maintain the image's aspect ratio */
    border-radius: 4px; /* Optional: give image rounded corners */
}
.todo-app h2{
    color: rgb(197, 13, 105);
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
h2 {
    display: flex;              
    align-items: center;        
    gap: 10px;                  
    font-size: 24px;            
    color: rgb(197, 13, 105);  
}
input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #ff5945;
    color: #fff;
    font-size:16px;
    cursor:pointer;
    border-radius: 50px;
}
ul li{
    list-style: none;
    font-style: 17px;
    padding:12px 8px 12px 50px;
    user-select:none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size:cover;
    background-position:center;
    top:10px;
    left:7px;
}
ul li.checked{
    color: #555;
   text-decoration: line-through; 
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right:0;
    top:5ps;
    width:40px;
    height: 40px;
    font-size: 35px;
    color: #555;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #8f7a7a;

}